.legend {
  max-height: 50vh;
  overflow-y: auto;
  border: thick groove white;
  border-radius: 1rem;
}

.nestlist {
  max-height: 50vh;
  overflow-y: auto;
  border: thick groove white;
  border-radius: 1rem;
}